<div class="grid page-width">
<div class="form-success hide" id="ResetSuccess">
  {{ 'customer.recover_password.success' | t }}
</div>
<div class="grid__item one-half">
<h1>Login Or Create An Account</h1>
<div>
<h3>New Customers</h3>
<p><!--{{ 'customer.register' | t}}--> Consectetur tempor sint laboris aliquip velit pariatur laboris commodo velit in dolor incididunt eu aliquip ut in dolor consequat.</p>

<!-- TODO: Change to Button -->
    <a href="/account/register" class="button__btn btn button__btn--secondary">
      {{ 'layout.customer.create_account' | t }}
    </a>
</div>
</div>
<div class="grid__item one-half">
<div id="CustomerLoginForm">
  {% form 'customer_login' %}
    <h1><!--{{ 'customer.login.title' | t }}--> Registered Customers</h1>

    {{ form.errors | default_errors }}

    <label for="CustomerEmail" class="label-hidden">
      {{ 'customer.login.email' | t }}
    </label>
    <input type="email"
           name="customer[email]"
           id="CustomerEmail"
           class="{% if form.errors contains 'email' %}input-error{% endif %}"
           placeholder="{{ 'customer.login.email' | t }}"
           spellcheck="false"
           autocomplete="off"
           autocapitalize="off"
           autofocus>

    {% if form.password_needed %}
      <label for="CustomerPassword" class="label-hidden">
        {{ 'customer.login.password' | t }}
      </label>
      <input type="password"
             name="customer[password]"
             id="CustomerPassword"
             class="{% if form.errors contains 'password' %}input-error{% endif %}"
             placeholder="{{ 'customer.login.password' | t }}">
    {% endif %}

    <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">

    <a href="/">{{ 'customer.login.cancel' | t }}</a>

    {% if form.password_needed %}
      <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
    {% endif %}
  {% endform %}

</div>

<div id="RecoverPasswordForm" class="hide">
  <h2>{{ 'customer.recover_password.title' | t }}</h2>
  <p>{{ 'customer.recover_password.subtext' | t }}</p>

  {% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <span class="hide reset-password-success"></span>
    {% endif %}

    <label for="RecoverEmail" class="label-hidden">
      {{ 'customer.recover_password.email' | t }}
    </label>
    <input type="email"
           name="email"
           id="RecoverEmail"
           placeholder="{{ 'customer.recover_password.email' | t }}"
           spellcheck="false"
           autocomplete="off"
           autocapitalize="off">

    <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">

    <button type="button" id="HideRecoverPasswordLink">
      {{ 'customer.recover_password.cancel' | t }}
    </button>
  {% endform %}

</div>
</div>

{% if shop.checkout.guest_login %}
  <h2>{{ 'customer.login.guest_title' | t }}</h2>

  {% form 'guest_login' %}
    <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
  {% endform %}
{% endif %}
</div>