<div class="grid page-width" style="padding: 50px 0px">
<div class="form-success hide" id="ResetSuccess">
  {{ 'customer.recover_password.success' | t }}
</div>
<h2 class="header__sub">Login Or Create An Account</h2>
<div class="grid__item medium-up--one-half">
<div style="">
<h2>New Customers</h2>
<p><!--{{ 'customer.register' | t}}-->
By creating an account with our store, you'll be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.
</p>

<a href="/account/register" class="button__btn btn button__btn--secondary">
  {{ 'layout.customer.create_account' | t }}
</a>
</div>
</div>
<div class="grid__item medium-up--one-half">
<div id="CustomerLoginForm" style="border: 1px solid #dbdbdb">
  {% form 'customer_login' %}

    <h2><!--{{ 'customer.login.title' | t }}--> Registered Customers</h2>


    {{ form.errors | default_errors }}
<div class="display: inline-block">
    <label for="CustomerEmail" class="label-hidden">
      {{ 'customer.login.email' | t }}
    </label>
    <input type="email"
           name="customer[email]"
           id="CustomerEmail"
           class="{% if form.errors contains 'email' %}input-error{% endif %} input"
           placeholder="{{ 'customer.login.email' | t }}"
           spellcheck="false"
           autocomplete="off"
           autocapitalize="off"
           autofocus>

    {% if form.password_needed %}
      <label for="CustomerPassword" class="label-hidden">
        {{ 'customer.login.password' | t }}
      </label>
      <input type="password"
             name="customer[password]"
             id="CustomerPassword"
             class="{% if form.errors contains 'password' %}input-error{% endif %} input"
             placeholder="{{ 'customer.login.password' | t }}">
    {% endif %}
</div>
    <input type="submit" class="btn button__btn button__btn--secondary" value="{{ 'customer.login.sign_in' | t }}">

    {% if form.password_needed %}
      <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
    {% endif %}
  {% endform %}

</div>

<div id="RecoverPasswordForm" class="hide">
  <h2>{{ 'customer.recover_password.title' | t }}</h2>
  <p>{{ 'customer.recover_password.subtext' | t }}</p>

  {% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <span class="hide reset-password-success"></span>
    {% endif %}

    <label for="RecoverEmail" class="label-hidden">
      {{ 'customer.recover_password.email' | t }}
    </label>
    <input type="email"
           name="email"
           id="RecoverEmail"
           placeholder="{{ 'customer.recover_password.email' | t }}"
           spellcheck="false"
           autocomplete="off"
           autocapitalize="off">

    <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">

    <button type="button" id="HideRecoverPasswordLink">
      {{ 'customer.recover_password.cancel' | t }}
    </button>
  {% endform %}

</div>
</div>

{% if shop.checkout.guest_login %}
  <h2>{{ 'customer.login.guest_title' | t }}</h2>

  {% form 'guest_login' %}
    <input type="submit" class="btn button__btn button__btn--secondary" value="{{ 'customer.login.guest_continue' | t }}">
  {% endform %}
{% endif %}
</div>