<footer>
  <div class="page-width">
    {% if section.settings.show_payment_icons %} {% unless shop.enabled_payment_types == empty %} {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}
    <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
    <ul class="payment-icons">
      {% for type in shop.enabled_payment_types %} {% if payment_icons_available contains type %}
      <li>
        {%- assign icon_name = type | prepend: 'icon-' -%} {% include icon_name %}
        <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
      </li>
      {% endif %} {% endfor %}
    </ul>
    {% endunless %} {% endif %}
    <div class="grid">
      <!-- Column 1 -->
      <div class="grid__item medium-up--one-third">
        {%- assign footer_linklist = section.settings.footer_linklist -%} {% if linklists[footer_linklist].links.size > 0 %}
        <div class="navigation__footer--links-section">
          <ul class="navigation__footer-link">
            {% for link in linklists[footer_linklist].links %}
            <li>{{ link.title | link_to: link.url }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <!-- Column 2 -->
      <div class="grid__item medium-up--one-third">
        {%- assign footer_linklist = section.settings.footer_linklist_2 -%} {% if linklists[footer_linklist].links.size > 0 %}
        <div class="navigation__footer--links-section">
          <ul class="navigation__footer-link">
            {% for link in linklists[footer_linklist].links %}
            <li>{{ link.title | link_to: link.url }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <!-- Column 3 -->
      <div class="grid__item medium-up--one-third">
        {%- assign footer_linklist = section.settings.footer_linklist_3 -%} {% if linklists[footer_linklist].links.size > 0 %}
        <div class="navigation__footer--links-section">
          <ul class="navigation__footer-link">
            {% for link in linklists[footer_linklist].links %}
            <li>{{ link.title | link_to: link.url }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
    <div id="footer__copyright-notice">
      {% if section.settings.logo != blank %} {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
      <img src="{{ section.settings.logo | img_url: 'master' }}" 
      width="130" height="50" alt="{{ section.settings.logo.alt | default: shop.name }}" 
      itemprop="logo"> {% else %} {{ shop.name }} {% endif %}
      <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} {{ shop.name }}. All rights reserved.</small>
    </div>
  </div>
</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First Column",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_2",
        "label": "Second Column",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_3",
        "label": "Third Column",
        "default": "footer"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      }
    ]
  }

{% endschema %}
