<style>
  {%- if section.settings.logo != blank -%}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {%- endif -%}

  /* Position in front of HERO on the homepage */
  #shopify-section-header {
    width: 100%;
    {% if template.name == 'index' %}
      position: absolute;
      z-index: 2;
      top: 22.5px;
    {% else %}
      padding: 22.5px 0px 22.5px 0px;
      background-color: #f2f2f2;
    {% endif %}
  }

  #shopify-section-header .navigation__link {
    text-transform: uppercase;
    font-size: 0.80em;
    font-weight: bolder;
  }

  header[role="banner"] {
    width: 75%;
    float: left;
  }

  header[role="banner"] > * {
    display: inline-block;
  }
</style>

<div data-section-id="{{ section.id }}" data-section-type="header-section" class="page-width">
  <header role="banner">

    <div class="navigation__header--container">
    <!-- Logo -->
    <a href="/" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
      {%- if section.settings.logo != blank -%}
        <img src="{{ section.settings.logo | img_url: 'master'}} "
             width="106" height="30"
             alt="{{ section.settings.logo.alt | default: shop.name }}">
      {%- else -%}
        {{ shop.name }}
      {% endif -%}
    </a>

    <!-- NAVIGATION DROPDOWNS -->
    <div style="display: inline-block; vertical-align: 9px;">
    <!-- Dropdown: Shop -->
    <div class="navigation__dropdown small--hide">
      <a class="navigation__link" href="#">Shop</a>
      <div class="navigation__dropdown-content">
        <!-- Arrow -->
        <div class="page-width" style="position: relative">
          <span class="arrow" style="left: 173px"></span>
        </div>
      <div class="navigation__dropdown-1-container page-width">
      <div class="grid">

        <!-- Left Side -->
        <div class="grid__item two-thirds" style="padding-right: 50px">
          <div class="grid">
            {%- for block in section.blocks -%}
              {%- if block.type == 'featured_in_shop' -%}
              <div class="grid__item one-third text-center">
                  <a href=" {{ collections[block.settings.collection].url }}">
                  <img class="navigation__dropdown-1-image" 
                  src="{{ collections[block.settings.collection].image | img_url: 'large' }}" width="160" height="203"
                  alt="{{ collections[block.settings.collection].name }}">
                  <span>{{ collections[block.settings.collection].title }}</span>
                  </a>
              </div>
              {%- endif -%}
            {%- endfor -%}

          <div class="grid__item full-width text-center">
            <a href="/collections/all" class="button__btn btn button__btn--primary" style="margin-top: 53px">Shop All Snacks</a>
          </div>
      
          </div>
        </div>

        <!-- Right Side -->
        <div class="grid__item one-third" style="padding-left: 50px; border-left: 1.75px solid #f2f2f2;">
          <div class="grid">
            <div class="grid__item text-center">

              <img class="navigation__dropdown-1-image" 
              src="{{ section.settings.logo_for_picknpack | img_url: 'master' }}" 
              width="310" height="195" 
              alt="{{ section.settings.logo_for_picknpack.alt }}">

              <span>Just pick a size, your favorite flavors, a shop date, and you're ready to go!</span>
            </div>
            <div class="grid__item text-center">
              <a href="/pages/coming-soon" class="button__btn btn button__btn--primary" style="margin-top: 53px">Start Packing</a>
            </div>
          </div>
        </div>

      </div>
      </div>
      </div>
    </div>

    <!-- Dropdown: Community -->
    <div class="navigation__dropdown small--hide">
      <a class="navigation__link" href="#">Community</a>
      <div class="navigation__dropdown-content">
        <!-- Arrow -->
        <div class="page-width" style="position: relative">
          <span class="arrow" style="left: 327px"></span>
        </div>
      <div class="navigation__dropdown-2-container">
        <div class="grid">
            {%- for block in section.blocks -%}
              {%- if block.type == 'featured_in_community' -%}
                <div class="grid__item one-fifth text-center overlay-container">
                  <a href="{{ pages[block.settings.page].url }}">
                  <div class="navigation__dropdown-overlay">
                    <h2 class="homepage">{{ block.settings.title }}</h2>
                  </div>

                  <img class="navigation__dropdown-2-image" width="292" height="188"
                  src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}">
                  </a>
                </div>

              {%- endif -%}
            {%- endfor -%}
        </div>
      </div>
      </div>
    </div>
    </div>
    </div>
  </header>

  <!-- Navigation -->
  <nav>
  <div class="small--hide navigation__main-menu">
  <div class="grid">
  <div class="grid__item one-half" style="width: 135px; max-height: 56px;">
    <div class="navigation__main-menu--slide-out" id="slide-out-navigation-menu" style="margin-top: -10px">
      <ul>
        <li><span class="fa fa-user"></span> <a href="/account/login">Login / Register</a></li>
        <li><span class="fa fa-shopping-cart"></span> <a href="/cart">My Cart ({{ cart.item_count }})</a></li>
        <li><span class="fa fa-location-arrow"></span> <a href="/pages/coming-soon">Store Locator</a></li>
      </ul>
    </div>
  </div>
  <div class="grid__item one-half" style="width: 100px">
    <div id="slide-out-navigation-toggle" onclick="interactiveNavigation.toggle()" style="margin-top: -10px">
      <div>
        <!-- Open Image -->
        <img src="{{ 'menu-drawing.png' | asset_img_url: '110x75' }}" 
          width="82" height="56" alt="Menu Button">
      </div>
      <div style="display: none">
        <!-- Close Button-->
        <div style="margin-left: 25px; margin-top: 20px;">
          {% include 'icon-close' %}
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </nav>
</div>

{% schema %}
  {
    "name": "Site Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Brand Logo"
      },
      {
        "type": "image_picker",
        "id": "logo_for_picknpack",
        "label": "Pick n' Pack Logo"
      }
    ],
    "max_blocks": 16,
    "blocks": [
      {
        "type": "featured_in_shop",
        "name": "Featured in Shop",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      },
      {
        "type": "featured_in_community",
        "name": "Featured in Community",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Page"
          }
        ]
      }
    ]
  }
{% endschema %}
