<style>
{%- if section.settings.logo != blank -%}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {%- endif -%}

  /* Position in front of HERO */
  #shopify-section-header {
    width: 100%;
    {% if template.name == 'index' %}
      position: absolute;
      z-index: 9;
      top: 22.5px;
    {% else %}
      position: absolute;
      margin-top: 22.5px;
    {% endif %}
  }

  header[role="banner"] {
    display: inline-block;
    width: 75%;
    float: left;
  }

  .d-block {
    display: block;
  }

  .d-none {
    display: none;
  }

  .modal {
    z-index: 1;
    /*
    width: 100%;
    height: 100%;
    background-color: #000;
    */
  }

  #shop-modal {
    height: 431px;
  }

  #community-modal {
    height: 203px;
  }

  .navigation__modal {
    width: 100%;
    background-color: #fff;
    margin-top: -25px;
    z-index: 9;
  }

  .navigation__modal-1-image {
    display: block;
    margin: 0px auto 15px auto;
  }

 .navigation__modal-2-image {
    margin: -15px auto 0px auto;
    padding: 0px 7.5px 0px 0px;
  }

  .navigation__modal-1-container {
    padding: 68px 0px 68px 0px;
  }

  .navigation__modal-2-container {
    margin: auto;
    padding: 7.5px;
  }

  nav {
    float: right;
    margin-top: 22.5px;
    display: inline-block;
  }  
</style>

<div data-section-id="{{ section.id }}" data-section-type="header-section" class="page-width">
  <header role="banner">

    {% if template.name == 'index' %}
      <h1 itemscope itemtype="http://schema.org/Organization">
    {% else %}
      <div class="h1" itemscope itemtype="http://schema.org/Organization">
    {% endif %}
        <div class="navigation__header--container">
        <!-- Logo -->
        <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
          {%- if section.settings.logo != blank -%}
            {%- capture image_size -%}{{ section.settings.logo_max_width }}x{%- endcapture -%}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 itemprop="logo">
          {%- else -%}
            {{ shop.name }}
          {% endif -%}
        </a>

        <!-- Theme specific links -->
        <ul class="navigation__header--links small--hide">
          <li><a id="header-shop" href="#">Shop</a></li>
          <li><a id="header-community" href="#">Community</a></li>
        </ul>
        </div>

    {% if template.name == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}
  </header>

  <!-- Navigation -->
  <nav role="navigation">
    <div class="small--hide" style="z-index: -1; cursor: pointer;">
    <img src="{{ 'menu-drawing.png' | asset_img_url }}" width="82" height="56" alt="I'm your menu" style="z-index: -1">
    </div>
  </nav>
</div>

<!-- MODAL 1 -->
<div id="shop-modal" class="modal d-none">
<div class="navigation__modal">
<div class="navigation__modal-1-container page-width">
<div class="grid">
  <!-- Left Side -->
  <div class="grid__item two-thirds" style="padding-right: 50px">
  <div class="grid">
    <div class="grid__item one-third text-center">
      <img class="navigation__modal-1-image" src="" width="188" height="203" alt="Jerky">
      <span>Jerky</span>
    </div>
    <div class="grid__item one-third text-center">
      <img class="navigation__modal-1-image" src="" width="188" height="203" alt="Sticks">
      <span>Sticks</span>
    </div>
    <div class="grid__item one-third text-center">
      <img class="navigation__modal-1-image" src="" width="188" height="203" alt="Protein Pals">
      <span>Protein Pals</span>
    </div>
    <div class="grid__item full-width text-center">
      <button class="button__btn button__btn--primary" style="margin-top: 53px">Shop All Snacks</button>
    </div>
  </div>
  </div>
  <!-- Right Side -->
  <div class="grid__item one-third" style="padding-left: 50px; border-left: 1.75px solid #f2f2f2;">
  <div class="grid">
    <div class="grid__item text-center">
    <img class="navigation__modal-1-image" width="323" height="203" alt="Perky Pick-n- Pack">
      <span>Just pick a size, your favorite flavors, a shop date, and you're ready to go!</span>
    </div>
    <div class="grid__item text-center">
      <button class="button__btn button__btn--primary" style="margin-top: 53px">Start Packing</button>
    </div>
  </div>
  </div>
</div>
</div>
</div>
</div>

<!-- MODAL 2 -->
<div id="community-modal" class="modal d-none">
<div class="navigation__modal">
<div class="navigation__modal-2-container">
<div class="grid">
  <!-- Grid Row -->
  <div class="grid__item">
  <div class="grid">
    <div class="grid__item one-fifth text-center">
      <img class="navigation__modal-2-image" height="188" src="" alt="What is Perky Jerky?">
    </div>
    <div class="grid__item one-fifth text-center">
      <img class="navigation__modal-2-image" height="188" src="" alt="Who we are">
    </div>
    <div class="grid__item one-fifth text-center">
      <img class="navigation__modal-2-image" height="188" src="" alt="Jerk Fans">
    </div>
    <div class="grid__item one-fifth text-center">
      <img class="navigation__modal-2-image" height="188" src="" alt="Ambassadors">
    </div>
    <div class="grid__item one-fifth text-center">
      <img class="navigation__modal-2-image" height="188" src="" alt="Feel The Buzz">
    </div>
  </div>
  </div>
</div>
</div>
</div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      }
    ]
  }
{% endschema %}
