<style>
  {% if section.settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}

  /* Position in front of HERO */
  #shopify-section-header {
    width: 100%;
    {% if template.name == 'index' %}
      position: absolute;
      z-index: 9;
    {% endif %}
  }
</style>

<div data-section-id="{{ section.id }}" data-section-type="header-section" class="page-width">
  <header role="banner">

    {% if template.name == 'index' %}
      <h1 itemscope itemtype="http://schema.org/Organization">
    {% else %}
      <div class="h1" itemscope itemtype="http://schema.org/Organization">
    {% endif %}

        <!-- Logo -->
        <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
          {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 itemprop="logo">
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>

        <!-- Theme specific links -->
        <ul class="navigation__header--links">
          <li><a href="#">Shop</a></li>
          <li><a href="#">Community</a></li>
        </ul>

    {% if template.name == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}
  </header>

  <nav role="navigation">
  <!-- Menu Goes Here -->
  </nav>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      }
    ]
  }
{% endschema %}
