<div class="page-width grid h-100">

<!-- Breakpoint: Medium Up -->
<div class="grid__item medium-up--one-whole text-center h-100">
  <!-- Section: Showcase Products -->
  <div class="grid">
    <div class="grid__item one-whole">
      <img src="{{ section.settings.header-image | img_url: '509x294' }}" width="509" height="294" alt="{{ section.settings.header-image.alt }}" style="margin-top: 78.75px;">
    </div>

    <div style="padding: 0px 30px 0px 30px">
    <div class="grid__item one-third">
      <div class="section-showcase-collection--item" onclick="showcaseDropdown.show(1)">
        <img src="{{ section.settings.jerky-image | img_url: '454x547' }}" width="300" height="382" alt="{{ section.settings.jerky-image.alt }}">
        <span>Jerky</span>
      </div>
    </div>

    <div class="grid__item one-third">
      <div class="section-showcase-collection--item" onclick="showcaseDropdown.show(2)">
        <img src="{{ section.settings.sticks-image | img_url: '150x536' }}" width="109" height="382" alt="{{ section.settings.sticks-image.alt }}">
        <span>Sticks</span>
      </div>
    </div>

    <div class="grid__item one-third">
      <div class="section-showcase-collection--item" onclick="showcaseDropdown.show(3)">
        <img src="{{ section.settings.protein-pals-image | img_url: '454x547' }}" width="300" height="382" alt="{{ section.settings.protein-pals-image.alt }}">
        <span>Protein Pals</span>
      </div>
    </div>
    </div>

    <div class="grid__item one-whole text-right" style="margin-top: 63.75px">
      <a class="btn button__btn button__btn--primary" href="{{ 'All' | url_for_vendor }}">Shop All</a>
    </div>
  </div>

  <!-- Dropdown: Product Details -->
  <div id="showcase-collection-dropdown" class="section-showcase-collection__detail--container">
  <div class="grid page-width">
    <div class="grid__item">
      <div class="grid">
        <div id="collection-detail-category-container" class="grid__item one-third">
          <!-- Product Category -->
          <div class="grid">
            <div class="grid__item">
              <img src="http://via.placeholder.com/241x316" width="241" height="316" alt="Banner">
            </div>
            <div class="grid__item">
              <ul class="inline-list">
              {% for category in (1..3) %}
                <li class="no-bullets">
                  <a href="#">Category {{ category }}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="grid__item two-thirds">
          <!-- Category Flavors -->
          <div id="collection-detail-flavor-container" class="grid">

            {% for i in (1..5) %}
              <div class="grid__item">
                  <div class="section-showcase-collection__detail--flavor">
                    Flavor {{ i }}
                  </div>
              </div>
            {% endfor %}
              <div class="grid__item">
                <div class="section-showcase-collection__detail--flavor">
                    See All
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

</div>

{% schema %}
  {
    "name": "Showcase collection",
    "settings": [
      {
        "type": "image_picker",
        "id": "header-image",
        "label": "Heading Banner"
      },
      {
        "type": "image_picker",
        "id": "jerky-image",
        "label": "Jerky Package"
      },
      {
        "type": "image_picker",
        "id": "sticks-image",
        "label": "Sticks Package"
      },
      {
        "type": "image_picker",
        "id": "protein-pals-image",
        "label": "Protein Pals Package"
      }
    ]
  }

{% endschema %}
