{% assign items_per_row = 3 %}

<div class="grid">
<!-- Left Side -->
<div class="grid__item one-whole medium-up--one-half text-center">
<div class="grid">

    <div class="grid__item">
      <h2 class="homepage">{{ section.settings.featured-by | upcase }}</h2>
    </div>

    <div class="grid__item ">
      <div class="proof-container">
        {%- for block in section.blocks -%}
          {%- if block.type == 'featured_by' -%}
            <img src="{{ block.settings.image | img_url: 'master' }}" 
            srcset="{{ block.settings.image | img_url: 'master' }} 1x, {{ block.settings.image | img_url: 'master', scale: 2 }} 2x" 
            alt="{{ block.settings.who }}" width="167" height="77">
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>

</div>
</div>

<!-- Right Side -->
<div class="grid__item one-whole medium-up--one-half text-center" style="background-color: #f2f2f2">
<div class="grid">

  <div class="grid__item">
    <h2 class="homepage">{{ section.settings.retailers | upcase }}</h2>
  </div>

  <div class="grid__item">
    <div class="proof-container">
        {%- for block in section.blocks -%}
          {%- if block.type == 'sold_at' -%}
            <img src="{{ block.settings.image | img_url: 'master' }}" 
            srcset="{{ block.settings.image | img_url: 'master' }} 1x, {{ block.settings.image | img_url: 'master', scale: 2 }} 2x" 
            alt="{{ block.settings.who }}" width="167" height="77">
          {%- endif -%}
        {%- endfor -%}
    </div>
  </div>
</div>
</div>

</div>

{% schema %}
{
  "name": "Social Proof",
  "settings": [
    {
      "id": "featured-by",
      "label": "Featured By Heading",
      "type": "text",
      "default": "What they are saying about us"
    },
    {
      "id": "retailers",
      "label": "Retailers Heading",
      "type": "text",
      "default": "Perky Jerky Retailers"
    }
  ],
  "blocks": [
    {
      "name": "Press",
      "type": "featured_by",
      "settings": [
        {
          "id": "who",
          "type": "text",
          "label": "Name"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "url",
          "type": "text",
          "label": "URL"
        }
      ]
    },
    {
      "name": "Retailer",
      "type": "sold_at",
      "settings": [
        {
          "id": "retailer",
          "type": "text",
          "label": "Name"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "url",
          "type": "text",
          "label": "URL"
        }
      ]
    }
  ]
}
{% endschema %}