<div class="grid page-width">

{% paginate collection.products by 6 %}

<!-- Sidebar -->
<div class="grid__item one-quarter">
  <header role="banner">
    {% if collection.all_tags.size > 0 %}
      <ul class="no-padding">
        <li class="no-bullets">All Products</li>
        {% for tag in collection.all_tags %}
          {% if current_tags contains tag %}
            <li class="active no-bullets">
              {{ tag | link_to_remove_tag: tag }}
            </li>
          {% else %}
            <li class="no-bullets">
              {{ tag | link_to_tag: tag }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </header>
</div>

<h1>{{ collection.title }}</h1>
{% if collection.description != blank %}
  <div class="rte">
    {{ collection.description }}
  </div>
{% endif %}

<!-- Product Grid -->
  <div class="grid__item three-quarters">
    <div class="grid">
    {% for product in collection.products %}
      <div class="grid__item one-third" style="padding: 5px; text-align: center">
        {% if product.featured_image != blank %}
          <a href="{{ product.url | within: collection }}">
            {{ product.featured_image.src | img_url: '480x480' | img_tag: product.featured_image.alt }}
          </a>
        {% endif %}
        
        <!-- Title -->
        <p>
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </p>

        <!-- Price -->
        <!--<p>
          {% if product.compare_at_price > product.price %}

            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}

          {% else %}

            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}

          {% endif %}

          {% if product.compare_at_price > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s>{{ product.compare_at_price | money }}</s>
          {% endif %}

          {% unless product.available %}
            {{ 'products.product.sold_out' | t }}
          {% endunless %}
        </p>-->
        <select style="display: block; width: 193px; margin: 0px auto 5px auto; height: 40px; background-color: #fafafa; padding: 1px">
          <option style="padding: 5px">
            {{ product.weight | weight_with_unit }} - {{ product.price | money}}
          </option>
        </select>

        <!-- Add To Cart Button -->
        <button class="btn button__btn button__btn--secondary">Add To Cart</button>
      </div>

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

    {% endfor %}
  </div>
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}
</div>